# These files are certainly text and should be normalized (convert crlf => lf)
*.groovy text
*.java text
*.gsp text
*.htm text
*.html text
*.json text
*.js text
*.xml text

# These files are binary should be treated as binary (don't convert line endings)
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary
*.jar    binary
*.pdf    binary
*.psd    binary

# For the remainder let Git's heuristics handle it
# Read http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/ for more info
