P.GlossaryTerm {LINE-HEIGHT: 14pt;  MARGIN: 2pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 11pt; }












P.MsoAutoSig {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoBodyTextIndent2 {LINE-HEIGHT: 200%;  MARGIN: 0pt 0pt 6pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }


P.MsoTof {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

P.MsoToc7 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 60pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

P.MsoIndex5 {LINE-HEIGHT: normal;  FONT-STYLE: italic;  TEXT-INDENT: -10.1pt;  MARGIN: 18pt 0pt 12pt 10.1pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

H5 {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 18pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: black;  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

P.MsoNormal {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.TableBullet {LINE-HEIGHT: normal;  TEXT-INDENT: -12pt;  MARGIN: 4pt 0pt 4pt 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 36.0pt; }

SPAN.C1HPopupText {FONT-FAMILY: "Tahoma","sans-serif"; }

SPAN.C1HTopicProperties {DISPLAY: none; }

P.C1HBullet2A {LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  MARGIN: 5pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 180.0pt 198.0pt list 216.0pt left 234.0pt 252.0pt 270.0pt; }

P.ListTable {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt; }






P.MsoQuote {LINE-HEIGHT: normal;  FONT-STYLE: italic;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: black;  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListParagraph {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }








P.MsoBlockText {LINE-HEIGHT: normal;  MARGIN: 0pt 72pt 6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 3.6pt 21.6pt 39.6pt 57.6pt 75.6pt 93.6pt; }

P.MsoBodyTextIndent3 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 6pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 8pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }


P.MsoCommentText {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoNormalIndent {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoToc8 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 70pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

P.MsoIndex6 {LINE-HEIGHT: normal;  TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 9pt 60pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

H6 {LINE-HEIGHT: normal;  MARGIN: 36pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 24pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

P.C1SectionEnd {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

SPAN.C1HInlineDropdown {}

SPAN.C1HLinkTag {}










SPAN.MsoHyperlinkFollowed {COLOR: purple;  TEXT-DECORATION: underline;  text-underline: single; }

P.MsoToc9 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 80pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

P.MsoIndex7 {LINE-HEIGHT: normal;  TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 9pt 70pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

SPAN.Bold {FONT-WEIGHT: bold; }

SPAN.C1HPopup {}

P.C1HBullet2 {LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  MARGIN: 5pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 180.0pt 198.0pt list 216.0pt left 234.0pt 252.0pt 270.0pt; }

P.SuperTitle {BORDER-BOTTOM: medium none;  TEXT-ALIGN: center;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  LINE-HEIGHT: normal;  MARGIN: 48pt 0pt 0pt 72pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 14pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 36.0pt; }










ADDRESS {LINE-HEIGHT: normal;  FONT-STYLE: italic;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListContinue {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoToaHeading {LINE-HEIGHT: normal;  MARGIN: 6pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 12pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoFooter {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  LINE-HEIGHT: normal;  MARGIN: 18pt 0pt 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: right 432.0pt; }

P.MsoIndex8 {LINE-HEIGHT: normal;  TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 9pt 80pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

SPAN.C1HConditional {}

P.C1HContinue {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt; }

P.SourceTop {LINE-HEIGHT: 14pt;  MARGIN: 5.75pt 0pt 9pt 36pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 126.0pt 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt 324.0pt 342.0pt 360.0pt 378.0pt 396.0pt 414.0pt; }

P.Note {LINE-HEIGHT: normal;  TEXT-INDENT: -36pt;  MARGIN: 18pt 36pt 18pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: black;  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.FiguresTable {LINE-HEIGHT: 14pt;  MARGIN: 3pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt; }









P.MsoClosing {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 216pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoCaption {LINE-HEIGHT: 14pt;  FONT-STYLE: italic;  MARGIN: 0pt 0pt 8pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

P.MsoIndex9 {LINE-HEIGHT: normal;  TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 9pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

P.MsoHeading7 {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 18pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

P.CaptionTable {LINE-HEIGHT: 14pt;  FONT-STYLE: italic;  MARGIN: 0pt 0pt 8pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.TableHeading0 {LINE-HEIGHT: normal;  MARGIN: 9pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 9pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.GlossaryHeading {LINE-HEIGHT: normal;  MARGIN: 6pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

P.C1HNumber {LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  MARGIN: 5pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 180.0pt list 198.0pt left 216.0pt 234.0pt 252.0pt 270.0pt; }

P.BodyTable {LINE-HEIGHT: normal;  MARGIN: 5.75pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.Definition {LINE-HEIGHT: 14pt;  MARGIN: 5.75pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }










P.MsoBodyText2 {LINE-HEIGHT: 200%;  MARGIN: 0pt 0pt 6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListBullet {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt 90.0pt 108.0pt; }

P.MsoHeading8 {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

P.C1SectionExpanded {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  tab-stops: 36.0pt; }

P.HeaderBase {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.Figures {LINE-HEIGHT: 14pt;  MARGIN: 3pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

P.CodeExplained {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 2pt 36pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt; }

P.HeadingBase {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }










P.MsoBodyText3 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 8pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }


P.MsoHeader {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  tab-stops: center 234.0pt right 468.0pt; }

P.MsoHeading9 {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  tab-stops: 36.0pt; }

P.Appendix {TEXT-ALIGN: right;  LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 18pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.GlossaryHeadingnoautolinks {LINE-HEIGHT: normal;  MARGIN: 6pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

SPAN.C1HKeywordLink {}

P.MidTopic {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

P.C1HNumber2 {LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  MARGIN: 5pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 180.0pt 198.0pt list 216.0pt left 234.0pt 252.0pt 270.0pt; }

SPAN.C1HGroupInvisible {DISPLAY: none; }

P.MarginNote {LINE-HEIGHT: 14pt;  FONT-STYLE: italic;  MARGIN: 3pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HGroup {}

P.IndexBase {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }









P.MsoCommentSubject {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }




P.MsoListContinue2 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 6pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoSignature {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 216pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.JumpBase {LINE-HEIGHT: 14pt;  MARGIN: 0pt 0pt 3pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.TableText0 {LINE-HEIGHT: normal;  MARGIN: 6pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.inline-control-link {}

P.Comment {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: red;  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.CodeText {FONT-FAMILY: "Courier New"; }

SPAN.C1HInlineExpand {}

P.List2Table {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 54.0pt 72.0pt 90.0pt 108.0pt 126.0pt 144.0pt; }

P.BodyTextTable {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }











P.MsoPlainText {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }


P.MsoSubtitle {TEXT-ALIGN: center;  LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 3pt;  FONT-FAMILY: "Cambria","serif";  FONT-SIZE: 12pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoMessageHeader {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -54pt;  MARGIN: 0pt 0pt 9pt 54pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Cambria","serif";  BACKGROUND: #cccccc;  FONT-SIZE: 12pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListContinue3 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 6pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListBullet2 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt 90.0pt 108.0pt; }

P.MsoEndnoteText {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoEnvelopeAddress {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 144pt;  FONT-FAMILY: "Cambria","serif";  FONT-SIZE: 12pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.HTML {COLOR: green; }

P.JumpfromList {LINE-HEIGHT: 14pt;  MARGIN: 0pt 0pt 3pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.ListNumStart {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  TEXT-INDENT: 0pt;  MARGIN: 12pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

SPAN.C1HExpandText {FONT-STYLE: italic; }

SPAN.C1HIndex {}

P.TableHeading {LINE-HEIGHT: normal;  MARGIN: 3pt 3.6pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 14.4pt 32.4pt 50.4pt 68.4pt 86.4pt 104.4pt; }

P.RelatedHead {LINE-HEIGHT: normal;  MARGIN: 9pt 0pt 1pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: blue;  FONT-SIZE: 11pt;  FONT-WEIGHT: bold;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

P.footerodd {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  LINE-HEIGHT: normal;  MARGIN: 18pt 0pt 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: right 432.0pt; }

P.ByLine {TEXT-ALIGN: center;  LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 14pt;  tab-stops: 36.0pt; }









SPAN.MsoHyperlink {COLOR: blue;  TEXT-DECORATION: underline;  text-underline: single; }

P.MsoListContinue4 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 6pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListBullet3 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoIndexHeading {LINE-HEIGHT: normal;  MARGIN: 15.1pt 0pt 6.1pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.C1HSectionExpanded {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  tab-stops: 36.0pt; }

SPAN.xRef {COLOR: blue;  TEXT-DECORATION: underline;  text-underline: single; }

P.Spacer {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.NormalIndent2 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HIndexInvisible {DISPLAY: none; }

P.Source {LINE-HEIGHT: 14pt;  MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 126.0pt 144.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt 324.0pt 342.0pt 360.0pt 378.0pt 396.0pt 414.0pt; }

P.CodeBase {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 9pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }








P.MsoNoSpacing {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }




P.MsoBodyTextFirstIndent {LINE-HEIGHT: normal;  TEXT-INDENT: 10.5pt;  MARGIN: 0pt 0pt 6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

P.MsoListContinue5 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 6pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListBullet4 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt list 72.0pt left 90.0pt 108.0pt; }

SPAN.MsoCommentReference {}

P.MsoFootnoteText {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.C1HSectionCollapsed {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  tab-stops: 36.0pt; }

P.KeywordLink {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  LINE-HEIGHT: normal;  MARGIN: 9pt 0pt 1pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: blue;  FONT-SIZE: 11pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt; }

P.ListNumStartBlank {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: 1pt;  TEXT-INDENT: 0pt;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: white;  FONT-SIZE: 1pt;  tab-stops: 36.0pt; }

SPAN.C1HContextID {DISPLAY: none; }

SPAN.C1HLinkTagInvisible {DISPLAY: none; }










P.MsoListBullet5 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt list 90.0pt left 108.0pt; }

P.MsoEnvelopeReturn {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Cambria","serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoToc1 {LINE-HEIGHT: normal;  MARGIN: 12pt 0pt 5pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: right dotted 432.0pt; }

P.JumpfromContents {LINE-HEIGHT: 14pt;  MARGIN: 1pt 0pt 3pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold; }

SPAN.C1HGroupLink {FONT-STYLE: italic;  DISPLAY: none;  COLOR: olive;  TEXT-DECORATION: underline;  text-underline: single; }

P.TOCTitle {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 9pt 0pt 7pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 24pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.TableText {LINE-HEIGHT: normal;  MARGIN: 2pt 3.6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }










P.MsoDocumentMap {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Tahoma","sans-serif";  FONT-SIZE: 8pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoNoteHeading {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoSalutation {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoTitle {TEXT-ALIGN: center;  LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 24pt;  tab-stops: 36.0pt; }

P.MsoListNumber2 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoList2 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoToa {LINE-HEIGHT: normal;  TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 9pt 10pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

P.MsoToc2 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 5pt 14.4pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: right dotted 432.0pt; }

P.TableIndent {LINE-HEIGHT: normal;  MARGIN: 4pt 0pt 4pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.ListNumberStart {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 54.0pt 72.0pt 90.0pt 108.0pt; }

P.CodeLine {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.ChapterNumber {TEXT-ALIGN: right;  LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 18pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HDropdownText {}

SPAN.C1HOnline {}

P.C1HBullet {LINE-HEIGHT: 14pt;  TEXT-INDENT: -18pt;  MARGIN: 5pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 180.0pt list 198.0pt left 216.0pt 234.0pt 252.0pt 270.0pt; }

P.TableBorder {LINE-HEIGHT: 1pt;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

P.headereven {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  tab-stops: center 234.0pt right 468.0pt; }









P.MsoBodyTextIndent {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 6pt 14.15pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

P.MsoListNumber3 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 36.0pt left 72.0pt 90.0pt 108.0pt; }

P.MsoList3 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoList {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoMacroText {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 24.0pt 48.0pt 72.0pt 96.0pt 120.0pt 144.0pt 168.0pt 192.0pt 216.0pt; }

P.MsoToc3 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 5pt 28.8pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: right dotted 432.0pt; }

P.MsoIndex1 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 39.6pt 57.6pt 75.6pt 93.6pt 111.6pt 129.6pt; }

H1 {LINE-HEIGHT: normal;  MARGIN: 36pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 24pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

P.C1SectionCollapsed {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  tab-stops: 36.0pt; }

P.C1HPopupTopicText {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 9pt;  FONT-FAMILY: "Tahoma","sans-serif";  FONT-SIZE: 8pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

SPAN.C1HJump {}

P.TOCBase {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.footereven {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  LINE-HEIGHT: normal;  MARGIN: 18pt 0pt 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: right 432.0pt; }

SPAN.D2HNoGloss {}









PRE {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoDate {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListNumber4 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt list 72.0pt left 90.0pt 108.0pt; }

P.MsoList4 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListNumber {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.MsoFootnoteReference {VERTICAL-ALIGN: super; }

P.MsoToc4 {LINE-HEIGHT: normal;  MARGIN: 0pt 36pt 5pt 108pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: right dotted 354.0pt; }

P.MsoIndex2 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 21.6pt 39.6pt 57.6pt 75.6pt 93.6pt 111.6pt; }

H2 {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 18pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

SPAN.Italic {FONT-STYLE: italic; }

P.HeadingSubNoTOC {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 28pt 0pt 9pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HInlinePopup {}

SPAN.C1HManual {}

P.WhatsThis {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

P.C1HContinue2 {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt; }

P.Jump {LINE-HEIGHT: 14pt;  MARGIN: 0pt 0pt 3pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }




P.MsoIntenseQuote {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  LINE-HEIGHT: normal;  FONT-STYLE: italic;  MARGIN: 10pt 46.8pt 14pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: #4f81bd;  FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }





P.MsoListNumber5 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt list 90.0pt left 108.0pt; }

P.MsoList5 {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoToc5 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 40pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

P.MsoIndex3 {LINE-HEIGHT: normal;  TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 0pt 30pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

H3 {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

P.C1HSectionEnd {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  tab-stops: 36.0pt; }

SPAN.C1HContentsTitle {}

P.headerodd {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  tab-stops: center 234.0pt right 468.0pt; }

P.MsoBibliography {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }











P.MsoBodyTextFirstIndent2 {LINE-HEIGHT: normal;  TEXT-INDENT: 10.5pt;  MARGIN: 0pt 0pt 6pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoBodyText {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt; }

P.MsoToc6 {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 9pt 50pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

P.MsoIndex4 {LINE-HEIGHT: normal;  TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 9pt 40pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt; }

H4 {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: normal;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  FONT-WEIGHT: normal;  tab-stops: 36.0pt; }

