<style type="text/css">
	p	{ margin-top: 0; margin-bottom: 0; }
	div p	{ margin-top: 0; margin-bottom: 0; }
	body.D2HContents { margin: 2põ; 
	                   background-color: #474747; 
	                   overflow:hidden; }
	div.D2HContents	
	 { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; background-color: #EBEBEB; 
		background-image: url();
		background-repeat: no-repeat;  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: WindowText; 
		height:100%; width:100%; overflow:auto; }
	table.D2HContents { margin: 2px 4px 4px 4px; }
		
	img	{ cursor: pointer; }
	span
	{ 
<!--#if(%DynamicToc%)-->
	cursor: pointer;
<!--#endif-->	
	  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: WindowText;
	}
    a {  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Blue; }
    .clsMouseOver {  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Red; }
    .clsCurrentTocItem {  font-family: Verdana; font-size: 9.75pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Purple; }
	.toc	{ margin-left: 20px;}
	.topic	{}
	.caption	{ font-weight: bold; margin-bottom: 6pt; white-space:nowrap; }
	.back	{ margin-top: 12px; text-align: right; }
    form.clsFrmHidden { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; height:0px; display: none; visibility: hidden;}
    div.clsTocNavPanel { margin: 0px 4px 0px 0px; text-align: right; }
</style>
