
body.itemlist	{ margin: 0px 2px 2px 2px; 
	                   background-color: #535353; 
	                   overflow:hidden;  }
div.itemlist { font-family:verdana; margin: 0px; padding: 0px; 
background-color: #EBEBEB; 
background-image: url(); 
background-repeat: no-repeat; 
overflow:auto; width:100%; height:100%; }
div.itemlistInside { margin: 4px; padding: 0px; }
body.lookup	{ margin: 2px 2px 0px 2px; 
	                   background-color: #535353; }
div.lookup	{ margin: 0px; padding: 0px; BORDER-BOTTOM: #000000 1px solid; background-color: #EBEBEB; 
background-image: url();
background-repeat: no-repeat;  
width:100%; }
a {  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
.clsMouseOver {  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  underline; color: Black; }
.clsCurrentTocItem {  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: bold; text-decoration:  none; color: Black; }
div.clsSearchResultItem { margin: 1px;}
form.clsSearchFor { margin:0px; padding:0px; font-size: 11px; }
table.clsSearchFor { font-family: verdana; font-size: 11px; }
form.clsFrmHidden { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; height:0px; display: none; visibility: hidden;}
div.clsSearchDidYouMean { margin:0px; padding:0px; font-family: verdana; font-size: 12px; font-weight: bold; }
