body { margin: 5px; }
h1 { font-size: 130%; padding-top: 8px; padding-bottom: 5px; font-weight: bold; color: #ff9100; }
h2 { font-size: 110%; padding-top: 8px; padding-bottom: 5px; font-weight: bold; color: #ff9100; }