div.body {
	padding-top: 20px;
}

h1 {
	font-weight: bold;
	font-size: 10pt;
	padding-bottom: 10px;
}

th {
	font-weight: bold;
	padding: 5px 5px 0 5px
}

td {
	padding: 5px 5px 5px 5px;
}

.prop {
	width: 25%;
	text-align: left;
}

.name {
	width: 75%;
}

/* --------------------------------------*/
/* PAGE container                        */
/* --------------------------------------*/
/* Contains page contents e.g header,navbar, content, footer */
#page {
	width: 100%;
	margin: 0px auto;
	padding: 0px 0px;
	text-align: left;
}

/* --------------------------------------*/
/* HEADER                                */
/* --------------------------------------*/
#header {
	height: 30px;
}

/* --------------------------------------*/
/* CONTENT                               */
/* --------------------------------------*/
#content {
	float: right;
	width: 80%;
}

.geneSigButton {
	font-size: 10px;
	padding: 3px;
}

.geneSigButton a {
	color: #333;
	padding: 2px;
}

.geneSigButton a.home {
	background: url(../images/skin/house.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.geneSigButton a.list {
	background: url(../images/skin/database_table.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.geneSigButton a.create {
	background: url(../images/skin/database_add.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.geneSigButton a.archive {
	background: url(../images/skin/database_archive.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.geneSigButton a.compare {
	background: url(../images/skin/info.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.gs-utilities-div {
    position:absolute;
    width:100px;
    top:0;
    right:0;
    height:24px;
    z-index:100;
}