#queryTable {
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #dddddd;
    width: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

#queryTable tr:last-of-type td {
    vertical-align: top;
}

#queryTable tr:first-of-type td {
    padding: 10px;
    font-weight: bolder;
    text-align: center;
}

#queryTable .queryEncounter {
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#queryTable .queryEncounter input {
    margin-left: 20px;
    margin-right: 10px;
    vertical-align: bottom;
}

#queryTable .queryEncounter label:hover {
    cursor: pointer;
}

#panelModel, #queryTable td div:last-of-type .panelFob {
    display: none;
}

.panelModel {
    padding-left: 20px;
    padding-right: 20px;
    width: 340px;
    text-align: center;
}

.panelModel * {
    box-sizing: border-box;
}

.panelBox {
    width: 100%;
    min-height: 100px;
    position: relative;
    background-color: #ffffff;
}

.withDates.panelBox {
    min-height: 135px;
}

.panelBoxBar, .panelBoxDateSelector, .panelBoxListPlaceholder, .panelBoxList {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.panelBoxBar {
    padding: 5px;
    background-color: #e5e5e5;
    vertical-align: middle;
}

.panelBoxDateSelector {
    height: 70px;
    background-color: #f0f0f0;
    display: none;
    padding-top: 40px;
    text-align: left;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.panelBoxDateSelector input {
    width: 48%;
    height: 24px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.panelBoxDateSelector input:-ms-input-placeholder {
    color: #CBCCD6 !important;
}

.panelBoxDateSelector input:-moz-placeholder {
    color: #CBCCD6 !important;
}

.panelBoxDateSelector input::-webkit-input-placeholder {
    color: #CBCCD6 !important;
}

.panelBoxDateSelector input:last-of-type {
    float: right;
}

.withDates .panelBoxDateSelector {
    display: block;
}

.panelBoxListPlaceholder, .panelBoxList {
    height: 100%;
    padding-top: 40px;
    text-align: left;
    box-sizing: border-box;
}

.withDates .panelBoxListPlaceholder, .withDates .panelBoxList {
    padding-top: 75px;
}

.panelBoxListPlaceholder .wrap {
    padding: 10px;
    padding-top: 5px;
    width: 100%;
    height: 100%;
}
.panelBoxListPlaceholder .holder {
    display: block;
    border: 3px dashed #c0c0c0;
    color: #c0c0c0;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bolder;
    text-transform: lowercase;
    line-height: 40px;
    opacity: 0.3;
    width: 100%;
    height: 100%;
}
@keyframes blink {
    0% { opacity: 0.4 }
    50% { opacity: 0.8 }
    100% { opacity: 0.4 }
}
@-webkit-keyframes blink {
    0% { opacity: 0.4 }
    50% { opacity: 0.8 }
    100% { opacity: 0.4 }
}
.panelBoxListPlaceholder .holder.highlight {
    animation: blink .7s ease infinite;
    -webkit-animation: blink .7s ease infinite; /* Chrome, Safari, Opera */
}
.panelBoxListPlaceholder .holder.overed {
    border-color: #A4ABE0;
    color: #A4ABE0;
    opacity: 0.8;
}

.panelFob {
    margin: 10px;
    display: inline-block;
    border-radius: 15px;
    min-height: 30px;
    min-width: 30px;
    height: 30px;
    width: 30px;
    background-color: #A4ABE0;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-variant: small-caps;
    font-weight: bolder;
    text-transform: lowercase;
}

/* We wanna refined the original styling for the query info */
.panelBoxListItem {
    font-size: 11px !important;
    height: 18px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}
.panelBoxListItem.selected {
    background-color: #d9e8fb;
}
.panelBoxListItem span {
    display: inline-block;
    position: absolute;
    top: 0;
}
.panelBoxListItem span.x-tree-node-icon {
    width: 16px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
}
.panelBoxListItem span.concept-text {
    padding-left: 20px;
    line-height: 18px;
}

/* We override the jQuery UI just here to keep cohorent */
.panelBoxBar .ui-button-text {
    padding: 0 !important;
    line-height: inherit !important;
}
.panelBoxBar .ui-button {
    background: none;
    background-repeat: no-repeat !important;
    font-family: Arial, sans-serif !important;
    font-size: 9pt !important;
    font-weight: normal !important;
    padding: 4px !important;
    border: 1px solid #CCC !important;
    cursor: pointer !important;
    color: #bbbbbb !important;
}

.panelBoxBar .ui-corner-left {
    border-top-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}
.panelBoxBar .ui-corner-right {
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-left: none !important;
}

.panelBoxBar .ui-corner-left:hover, .panelBoxBar .ui-corner-right:hover {
    background-color: #b2b2b2;
    color: #888888 !important;
}

.panelBoxBar .ui-state-active {
    background-color: #c2c2c2;
    color: #000000 !important;
}

.panelBoxBar .ui-state-active:hover {
    color: #000000 !important;
}

.panelRadio {
    float: left;
}

.panelButtons {
    float: right;
}