/*********** LAYOUT ***********/

html {
  overflow: hidden;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/bgtile.png') !important
}

#side-scroll {    
  padding: 0;
  margin: 0;
  overflow: auto;    
  width: 300px;     
}

#search-div{
  padding: 6px;
  margin: 4px 0 4px 0;
  overflow: auto;
  background-color: #F8F8F8;
  border-radius: 8px;
}

#box-search {
	margin-top: 16px;
	border-radius: 8px;
	border: #0000FF;
	width: 290px;
	margin-right: 10px;
	box-shadow: #888 11px 11px 8px -7px;
}

#active-search-div
{
	font-size: 11px;
    height: 96px;
    margin: 0;
    overflow: auto;
    padding: 5px 0 5px 20px;
    background: #FFFFFF;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-left: 1px solid #AAE;
	border-right: 1px solid #AAE;
	border-bottom: 1px solid #AAE;
}

#sidebar {
	float: right;
}

#main {
  padding: 0;
  margin: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  float: left;
}

#title-search-div{
  height:27px;
  overflow: hide;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-left: 1px solid #AAE;
  border-right: 1px solid #AAE;
  border-top: 1px solid #AAE;
}
#title-filter{
  height:25px;
  overflow: hide;  
}

#results-div{
	margin-bottom:20px;
	padding: 0px;
}


/********* END LAYOUT *********/

.title{
	  color:#333;
	  padding:0;
	  margin:0;
	  font-size:11px;
	  font-weight:bold;
	  padding-left:0.5em;
	  padding-top:0.5em;
	  
		
}
.x-panel-header
{
	margin:0;
	padding:0;
}

.results-table
{
	 background-color:#F0F8FF;
	 width:100%;
}

.search-img {
    background-image: url(../images/search_button_up.png) !important;
}
.parent-filter {
	background-image: url(../images/down_arrow.PNG) !important;
    background-repeat:no-repeat;
    background-position:right top;
    font-size:1.125em;
    border-bottom-style:solid;
    border-width:thin;       
}

#resultsPanel {
	border-left:1px solid #8b8b8b;
	
}


#searchFilterPanel{
	border-right:1px solid #d0d0d0;
	font-size:11px;
}

.category_join{
	display:block;
	color: #5e5e5e;
	margin:0;
	padding:0;
	margin-left:-1.5em;
	margin-top:0.5em;
	margin-bottom:0.4em;

}

.category_label{
	
	color:#868686;
	padding-bottom: 0.2em;
    margin-left: -10px;
    font-weight: bold;
    white-space:nowrap;
}
	
.spacer{
	
	color:#868686;
	}
	
	
.h_line
{
	padding:0;
	margin:0;
	border:0;
	font-size:1px;
	width: 85%;
	height:1px;
	border-top:1px solid #e1e1e1;
    margin-left: 5px;
    padding-bottom: 1px;
    display: inline-block;
   
}

.term
{
		margin-top:0.3em;
		white-space:nowrap;
		line-height: 1.4em;
}


.term-remove img a:hover {
	text-decoration:none;
	}
	
	
#SearchFilterPanel #ext-gen20
{
	height:100% !important;
}

.ui-autocomplete-loading { 
	background: white url(../images/loader-small.gif) right center no-repeat;
	}

#search-categories {
    font-size: 10px;
    height: 24px;
    width: 90px;
}

#search-ac {
    padding-top: 3px;
    width: 135px;
    }

#toggle-btn {          
	background-repeat:no-repeat; 
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    position:absolute;
    height: 20px;
    left: 276px;
    margin-top: 34px;
    width: 20px;
}


/* These two classes are to toggle the arrows back and forth for the slider pane */
.toggle-icon-left {
	background-image: url("../images/small_arrow_left.png") !important;  
}

.toggle-icon-right {
	background-image: url(../images/small_arrow_right.png) !important;	
}

#filter-div {
	
	height:100%;
	overflow:auto;
	}
	
/***************************************************/
/********** Override dynatree CSS rules ************/
/***************************************************/

.dynatree-container{
	
	overflow-x:hidden;
	padding:0;
	border:0;
	font-family:Verdana,Helvetica,Arial;
	font-size:11px;
}
ul.dynatree-container
{
	padding:0;
	border:0;
	overflow-x:hidden;
	border-collapse:collapse;
}



ul.dynatree-container li{
	background-image:none;
	padding:0;
	width:100%;
}

ul.dynatree-container a{
	padding:0;
	margin:0;
}


span.dynatree-folder a {
	font-weight: normal;
	font-size:1em;
	background-color:#ffffff;
	width:100%;
	padding-top:0.6em;
	padding-bottom:0.6em;
	border:0;
	border-bottom:1px solid #efefef;
	color:#000;
}

ul.dynatree-container span.dynatree-expanded a {
	background-color:#DFEFFD;
	color:#000;
	font-weight:normal;
}

ul.dynatree-container li ul span.dynatree-selected a, 
ul.dynatree-container li ul span.dynatree-partsel a
{
	font-weight:bold;
	color:#000;
}

ul.dynatree-container li ul span.zero-selected a
{
	color:#A8A8A8;
	font-weight:normal !important;
}

ul.dynatree-container a:hover{

	border-bottom:1px solid #efefef;
}

ul.dynatree-container ul li a:hover{

	border:0;
}

ul.dynatree-container a:focus {
    outline:none;
}


ul.dynatree-container li span.dynatree-active a {
	background-color:#fff !important;
	color:#000;

}

ul.dynatree-container li span.dynatree-expanded a{
	background-color:#DFEFFD !important;
	color:#000;
	background-image: url(../images/up_arrow_small.png) !important;
    background-position: 268px 10px;
    background-repeat: no-repeat;
	}
	
	
	
ul.dynatree-container li span.dynatree-selected a,
ul.dynatree-container li span.dynatree-partsel a{
	font-weight:bold !important;
}



ul.dynatree-container li ul li a{
    background-color: transparent !important;

	}


ul.dynatree-container a:focus, span.dynatree-focused a:link {
    background-color: transparent !important;
}

ul.dynatree-container li ul li span.dynatree-active a
{
	background-color:transparent !important;
	
}

span.dynatree-active a {
	color:#000 !important;
	}
	
span.dynatree-folder a{
	color:#000;
	background-image: url(../images/right_arrow_big.PNG) !important;
    background-position: 268px 10px;
    background-repeat: no-repeat;
    font-weight: normal !important;
}

span.dynatree-folder span.dynatree-expander {
	display:none;
}

ul.dynatree-container  a {
 color:#4a4a4a;
 font-weight:normal;
 
}


span.dynatree-selected a{
	color:#000;
	font-style:normal;
	font-weight:bold;
}


span.dynatree-folder a{

	padding-left:0.6em;	
	
}

ul.dynatree-container li {


	background-color: #F0F8FF;
}

ul.dynatree-container li ul li{	
    background-attachment: scroll;
    background-color: transparent;
	background-image: url("jquery/skin/vline.gif");
    background-position: 0 0;
    background-repeat: repeat-y;
    padding-top:1px;
    padding-bottom:1px;

}

/***************************************************/
/********** END dynatree CSS rules *****************/
/***************************************************/

.search-results-table
{
	padding-left:10px;
	padding-right:10px;
}

.search-result-info
{
	color: #555;
	font-size: 11px;
	font-weight: normal;
	margin-left: 10px;
	background-color: white;
	float: left;
	padding: 4px 8px 2px 8px;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


#IEwarningBox
{
	border: 1px solid;
	margin-top: 10px;
	padding: 10px;
	color: #9F6000;
	background-color: #FEEFB3;
	width: 475px;
	margin-left: auto;
	margin-right: auto;
		
}

#IEwarningBox a{
	
	font-weight:normal;
	color:#555;
	
}

.result-trial-odd, .result-trial-even
{
	padding:10px;
	background-color:#F4F4F4;
	border-radius: 8px;
	margin-bottom: 16px;
	box-shadow: #888 11px 11px 8px -7px;
	border: 1px solid #BBB;
}
.result-trial-even
{
	background-color:#F0F8FF;
}

.result-trial-name
{
	color: #339933;
	 padding-left: 3px;
}

.result-analysis-label
{
	display:block;
	padding-top:10px;
	padding-left:23px;
	padding-bottom: 5px;
}

.result-analysis{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: normal;
    margin-left: 25px;
    margin-right:23px;
    margin-top: -1px;

}

.result-analysis a, .result-analysis a:visited{
	font-weight: normal;
}

.result-analysis :hover{
	background-color:#FFFFCC;	
	}

.x-form-empty-field
{
	font-style: italic;
}

.analysis-table
{
	width:100%;

}
.analysis-table td
{
	vertical-align:middle;
	text-align:left;
	padding:6px;
	
}

.td-link{
	cursor:pointer;
	}

.analysis-table td:hover{
	
	}
	
.analysis_holder {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #999;
    margin-bottom: 8px;
    margin-top: 0;
    overflow: auto;
    padding: 5px;
    width: 100%;
    box-shadow: 1px 1px 10px #CCCCCC;
    border-right:1px solid #CCCCCC;
}
.analysis_spacer{
	margin-left:25px;
	margin-right:35px;
}


.active-analysis
{
    background-color: #DFEFFD;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    border-right:1px solid #CCCCCC;
    margin-top:8px;
    box-shadow: 1px 1px 10px #CCCCCC;
}

.heatmapControls{
    background-color: #EEEEEE;
    border: 1px solid #DFDFDF;
    margin-right:2px;
    padding:3px;
    width: 175px;
    margin-bottom:4px;
    position:absolute;
    right: 0;
    border-top:0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.heatmapControls td {
	padding:3px;
    font-size: 11px;
}

.boxplotControls_holder
{
    display:inline;
}

.boxplotControls{
    background-color: #EEEEEE;
    border: 1px solid #DFDFDF;
    margin-right:2px;
    padding:3px;
    width: 250px;
    margin-bottom:4px;
    position:absolute;
    right: 0;
}

.probeSelectionDD{
	width:180px;
}
.numericInput{
	width:35px;
}

.boxplotControls td {
    padding:3px;
    font-size: 11px;
    vertical-align: middle;
}


.heatmap_analysis{
    margin-top: 0;
    overflow: auto;
    padding-top: 6px;
    width: 100%;

}

.analysis_holder .ui-tabs .ui-tabs-panel{
	padding:0;
	font-style:normal;
}

.legend{
	border-bottom: 1px solid #CCC;
padding-bottom: 10px;
margin-top:-4px;

}

.legend p{
	display:inline;
	font-size:11px;	
	color:#888;
	line-height:16px;
}

.legend .cohort{
	border: 1px solid #777;
	color:#000;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    text-align: center;
    width: 25px;
}

p.legend_probe {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

.cohort_table{
	clear:both;
}

.cohort_table td{
	vertical-align: middle;
	padding-bottom:3px;
}




.boxplot_analysis{
    overflow: auto;
    width: 100%;
}



#probesPerPage{
	
	padding:0;
	font-size:10px;
	border:1px solid #555;
	
	}

#searchResultOptions{
	background-color:#eee;
	border:1px solid #ccc;
	border-top:0;
	padding:6px;
	width:220px;
	display: inline;
	margin-top: 31px;
	position:absolute;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

#searchResultOptions_btn{

	display: inline;
	position: absolute;
		cursor:pointer; 
		width:55px;
}
#searchResultOptions_btn a{
	color:#000;
	font-weight: normal;
	text-decoration: none;
}

#searchResultOptions_holder{
	display:inline;
	position:absolute;
}

#searchResultOptions ul {
	
	list-style-type: none;
}

#searchResultOptions ul li {
	padding:3px;
}

.heatmapControls_holder
{
	display:inline;
}



.menuOptList{
	position:absolute;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.menuOptList ul li{
	
	display:block;
	padding:3px;
	background-color:#eee;
	border:1px solid #ccc;
	font-size:11px;
	border-top:0;	
	
}

.menuOptList ul li:hover{
cursor: pointer;
background-color: #DFDFDF;
	
	}

.messageBox{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 350px;
	margin: auto;
	margin-bottom:15px;
	border: 1px solid #CCC;
	background-color: #FFC;
}
.messageBox p{
	font-size:11px;
	text-align:left;
	padding: 10px;
}
	
#cbShowSignificantResults{
	
	
}



#menu_bar{
	height: 30px;
	width: 100%;
	background-color: #EFEFEF;
	border-bottom: 1px solid #BBB;
	position: fixed;
	top: 27px;
	z-index: 900;
	border-left: 1px solid #CFCFCF;
	margin-left: -1px;
	box-shadow: 1px 1px 6px #CCCCCC;
}

#menu_bar p{
	display: inline;
	padding:8px;
}
.toolbar-item{
display: inline-block;
border-right: 1px solid #CCC;
font-size: 11px;
padding-left: 8px;
padding-right: 8px;
margin-top: 8px;

}
.toolbar-item:hover{
cursor: pointer;
background-color: #DFDFDF;
padding: 8px;
margin: 0;
border-left: 1px solid #CCC;
margin-left: -1px;
}

.vis-toolBar{
	
	/*float:right; Why?! */
	margin-top:-1px;
}

.vis-toolbar-item{
display: inline-block;
font-size: 11px;
padding-left: 8px;
padding-right: 8px;
border: 1px solid #CCC;
background-color: #EEE;
padding-top: 2px;
padding-bottom: 2px;
}
.vis-toolbar-item:hover{
cursor: pointer;
color:#000;
background-color: #dfdfdf;
}


.highlight{

color: black;
font-weight:bold;
/*
padding: 1px;
background-color: #FF6;
border-bottom: 1px solid #CCC;
border-top: 1px solid #CCC;
*/
}


/* Custom CSS for jQuery tabs used in analysis */
.analysis-tabs { background: transparent; border: none; }
.analysis-tabs .ui-widget-header { background: transparent; border: none; border-bottom: 1px solid #c0c0c0; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; }
.analysis-tabs ul .ui-state-default { background: transparent; border: none; }
.analysis-tabs ul .ui-state-active { background: transparent url(../images/uiTabsArrow.png) no-repeat bottom center; border: none; }
.analysis-tabs ul .ui-state-default a { color: #c0c0c0; }
.analysis-tabs ul .ui-state-active a { color: #1b74b3; }
/* End tab CSS */



/* Custom CSS for pagination control*/
	div.pagination {
		padding: 3px;
		margin: 3px;
		text-align:center;
		font-style:normal;
		font-size:0.8em;
	}
	
	div.pagination a {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #ccc;
		text-decoration: none;
		color: #333;
		font-style:normal;
	}
	div.pagination a:hover, div.digg a:active {
		border: 1px solid #1B74B3;

		color: #000;
	}
	div.pagination span.current {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #333;
		
		font-weight: bold;
		background-color: #1B74B3;
		color: #fff;
	}
	div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #ccc;
		color: #ccc;
	}


/* Patchy fixes for JQuery UI below here */

.dataTable {
    margin: 8px 0px;
    font-size: 8px;
    border-right: 1px solid #DDF;  
}

.dataTable th {
     font-weight: bold;
     padding: 4px;
     min-width: 80px;
     text-align: center;
     font-size: 10px;
     background-color: #BFCFFD;
     background-image: none;
}

.dataTable td {
     padding: 5px;
     border-left: 1px solid #DDF;
     border-bottom: 1px solid #DDF;
     font-size: 10px;   
}

.dataTable tr.odd {
    background-color: #EFFFFD;
}

.dataTables_length {
     float: left;
     margin-right: 64px;   
}

a.paginate_disabled_previous, a.paginate_disabled_next {
    border: 1px solid #CCC;
    padding: 4px;
    color: #CCC;
    margin: 0px 8px;
}

.paginate_enabled_previous, .paginate_enabled_next, .linkbutton {
    border: 1px solid #AAF;
    padding: 4px;
    color: #000;
    margin: 0px 8px;
    cursor: pointer;
}

.linkbutton {
	font-size: 8pt;	
}

.dataTables_info {
    float: left;
}

.dataTables_paginate {
	min-height: 30px;	
}

.dataTables_wrapper {
	font-size: 9pt;
}

/* VERY cheap fix for left/right selection box issue! */
div.ui-multiselect div.selected {
	float: right;	
}

div.available ul.available li {
    white-space: nowrap;   
}

div.selected ul.selected li {
    white-space: nowrap;   
}

/* Override multiselect dimensions */
select.multiselect {
	width: 96%; height: 94%
}

.ui-autocomplete .ui-menu-item a {
	font-size: 8pt;	
}

.ajaxloading, #table-results-div.ajaxloading {
	background-image: url('../images/loader-large.gif') !important;
	background-repeat: no-repeat !important;
	background-position: 50% 50% !important;
	min-height: 64px;
}

.columnname {
	font-weight: bold;	
	font-size: 8pt;
}
.columnvalue {
	font-size: 8pt;
	padding-bottom: 4px;	
}

/* Accordion overrides */

#sidebar-accordion {
	margin-top: 16px;
	border-radius: 8px;
	border: #0000FF;
	width: 290px;
	margin-right: 10px;
	
}

#sidebar-accordion .ui-accordion-header {
	color: #333;
	font-size: 11px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 22px;
	font: 11px 'Helvetica',arial,clean,sans-serif;
	padding-top: 0.5em;
	padding-left: 0.4em;
	border: 1px solid #AED0EA;
	font-weight: bold;
	background: #DEEDF7 url('jquery/cupertino/images/ui-bg_highlight-soft_100_deedf7_1x100.png') 50% 50% repeat-x;
	border-top: 1px solid #AAE;
	border-left: 1px solid #AAE;
	border-right: 1px solid #AAE;
}

#filter-browser, #metadata-viewer {
	background: #FFFFFF;
	font-size: 11px;
	padding: 1em;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-left: 1px solid #AAE;
	border-right: 1px solid #AAE;
	border-bottom: 1px solid #AAE;
	box-shadow: #888 11px 11px 8px -7px;
}

.filtertitle {
	padding: 4px 0px 4px 24px;
	background-color: #FFFFFF;
	background-image: url('../images/down_arrow_small2.png');
	background-repeat: no-repeat;
	background-position: 8px 50%;
	cursor: pointer;
	border-top: 1px solid #EEE;
	font-weight: bold;
}

.filteritem {
	padding: 4px 0px 4px 32px;
	cursor: pointer;
}

.filteritem:hover,.filtertitle.hover {
	background-color: #F4F4FF;	
}

.filteritem.selected {
	background-color: #F0F0FF;	
}

.ui-widget-header {
	border:none;
}

#topTabs {
	padding: 0px;

}

#topTabs ul {
	background-color: #FFF;
}

#datasetExplorer {
	border: none;
	height: 400px;
	width: 100%;
	border-bottom-right-radius: 16px;
}

#logocutout {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
}

#table-results-div {
	padding: 0;	
}

/* Special class for forcing no jQuery icon */
.suppressicon {
	background: none !important;
}

.breaker {
	clear: both;	
}