@CHARSET "UTF-8";


.nextbutton{
    background-image:url(../images/next.png ) !important;
}

.clearbutton{
    padding-left: 20px !important;
    background-image:url(../images/clear.png ) !important;
    background-position: 6px 50%;
}
.runbutton{
	background-image:url(../images/runprog.png ) !important;
	}
.exportbutton{
	background-image:url(../images/fileexport.png ) !important;
	}	
.comparebutton{
	background-image:url(../images/compare.png ) !important;
	}
.summarybutton{
	background-image:url(../images/summary.png ) !important;
	}

.valueicon{
	background-image:url(../images/numeric.gif ) !important;
	}
.printbutton{
	background-image:url(../images/printer.png ) !important;
	}
	
.savebutton{
	background-image:url(../images/disk.png ) !important;
	}	
	

table.datasetResults {
   	border-style:solid;
   	border-width:thin;
   	border-color:#C0C0C0;
   	border-collapse: collapse;
   	width: 75%;
   	margin-left: auto;
   	margin-right: auto;
}

table.datasetResults th {
	background-color:#EEEEEE;
	color:#736F6E;
	font-weight:bold;
	font-size: 110%;	
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	border-bottom-style:solid;
   	border-bottom-width:medium;
   	border-bottom-color:#C0C0C0;
}

table.datasetResults tr {
	height:20px;
   	vertical-align:middle;	
}

table.datasetResults td {
	background-color:white;
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	vertical-align:middle;
   	padding: 5px;
}

table.datasetResults td.altRow {
	background-color:#E8E8E8;
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	vertical-align:middle;	
   	padding: 5px;
}

a.categoryLinks:link
{
	font-weight: normal;
	color: #000000;	
}

a.categoryLinks:visited
{
	font-weight: normal;
	color: #000000;	
}

table.categoryList {
	text-align:left;
	border-style:solid;
	border-width:thin; 
	border-color:black;
	width:250px;
	background-color:white;
}

table.categoryListCheckbox {
	text-align:left;
}

#centerPanel .x-panel-body{
    background-color: #EEEEEE;
    overflow:visible;
}

#northPanel .x-panel-body{
    overflow:visible;
}

#northPanel .x-panel-bwrap{
    overflow:visible;
}

#resultsGridPanel .x-grid3 {
   	border-style:solid;
   	border-width:thin;
   	border-color:#C0C0C0;
   	border-collapse: collapse;
   	width: 100%;
   	margin-left: auto;
   	margin-right: auto;
}

#resultsGridPanel .x-grid3-header {
	background-color:#EEEEEE;
	font-weight:bold;
	font-size: 120%;	
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	border-bottom-style:solid;
   	border-bottom-width:medium;
   	border-bottom-color:#C0C0C0;
}

#resultsGridPanel .x-grid3-row {
   	vertical-align:middle;	
}

#resultsGridPanel .x-grid3-row {
	background-color:white;
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	vertical-align:middle;
   	padding: 5px;
}

#resultsGridPanel .x-grid3-row-alt {
	background-color:#E8E8E8;
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	vertical-align:middle;	
   	padding: 5px;
}

#resultsGridPanel .x-grid3-td-checkboxInclude
	{
		text-align:center;
	}
	
#resultsGridPanel .x-grid3-row-selected {
   background-color: #006699 !important;
   color: white !important;	
}

#resultsGridPanel .x-grid3-row-selected A:link {
   color: white !important;	
}	

#resultsGridPanel .x-grid3-row-selected A:visited {
   color: white !important;	
}

#resultsGridPanel .x-grid3-row-over {
   	background: none repeat scroll 0 0 #0077dd !important;
}















#resultsGridPanel2 .x-grid3 {
   	border-style:solid;
   	border-width:thin;
   	border-color:#C0C0C0;
   	border-collapse: collapse;
   	width: 100%;
   	margin-left: auto;
   	margin-right: auto;
}

#resultsGridPanel2 .x-grid3-header {
	background-color:#EEEEEE;
	font-weight:bold;
	font-size: 120%;	
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	border-bottom-style:solid;
   	border-bottom-width:medium;
   	border-bottom-color:#C0C0C0;
}

#resultsGridPanel2 .x-grid3-row {
   	vertical-align:middle;	
}

#resultsGridPanel2 .x-grid3-row {
	background-color:white;
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	vertical-align:middle;
   	padding: 5px;
}

#resultsGridPanel2 .x-grid3-row-alt {
	background-color:#E8E8E8;
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	vertical-align:middle;	
   	padding: 5px;
}

#resultsGridPanel2 .x-grid3-td-checkboxInclude
	{
		text-align:center;
	}
	
#resultsGridPanel2 .x-grid3-row-selected {
   background-color: #006699 !important;
   color: white !important;	
}

#resultsGridPanel2 .x-grid3-row-selected A:link {
   color: white !important;	
}	

#resultsGridPanel2 .x-grid3-row-selected A:visited {
   color: white !important;	
}

#resultsGridPanel2 .x-grid3-row-over {
   	background: none repeat scroll 0 0 #0077dd !important;
}








.x-grid3 {
   	border-style:solid;
   	border-width:thin;
   	border-color:#C0C0C0;
   	border-collapse: collapse;
   	width: 100%;
   	margin-left: auto;
   	margin-right: auto;
}

.x-grid3-header {
	background-color:#EEEEEE;
	font-weight:bold;
	font-size: 120%;	
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	border-bottom-style:solid;
   	border-bottom-width:medium;
   	border-bottom-color:#C0C0C0;
}

.x-grid3-row {
   	vertical-align:middle;	
}

.x-grid3-row {
	background-color:white;
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	vertical-align:middle;
   	padding: 5px;
}

.x-grid3-row-alt {
	background-color:#E8E8E8;
   	border-right-style:solid;
   	border-right-width:thin;
   	border-right-color:#C0C0C0;
   	vertical-align:middle;	
   	padding: 5px;
}

.x-grid3-td-checkboxInclude
	{
		text-align:center;
	}
	
.x-grid3-row-selected {
   background-color: #006699 !important;
   color: white !important;	
}

.x-grid3-row-selected A:link {
   color: white !important;	
}	

.x-grid3-row-selected A:visited {
   color: white !important;	
}

.x-grid3-row-over {
   	background: none repeat scroll 0 0 #0077dd !important;
}

.utilities-div {
    position:fixed;
    width:80px;
    top:0;
    right:0;
    z-index:100;
}