/* Because we're working on IE8 */
* { opacity: inherit; filter: inherit; }

.uploadTable > tbody > tr > td {
	padding: 8px;
}
.uploadTable > tbody > tr > td > input {
	width: 300px;
}
.uploadTable > tbody > tr > td > select {
	width: 300px;
}
a.upload {
	color: blue;
	font-weight: normal;
	font-size: 8pt;
	cursor: pointer;
}

.dataFormTitle {
	font-size: 20pt;
	font-weight: bold;
	text-align: center;
}

div.buttonbar {
	text-align: center;
	padding: 16px;
}

a.button {
	padding: 4px;
	border: 1px solid #CCC;
	background-color: #F8F8F8;
	margin: 8px;
	cursor: pointer;
}

#columnsAll {
	font-style: italic;
}
#columnsNotFound {
	font-style: italic;
	font-weight: bold;
	color: #D00;
}

.tagBox {
	clear: both;
	width: 90%;
	padding: 4px;
}

.tag {
	background-color: #EEF;
	border: 1px solid #AAF;
	font-size: 8pt;
	padding: 2px 2px 2px 16px;
	margin: 2px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	line-height: 12pt;
	cursor: pointer;
	background-image: url('../images/clearsmall.png');
	background-repeat: no-repeat;
	display: inline-block;
}

.tag:hover {
	background-color: #F0F0FF;
	cursor: pointer;
}

input.upload {
	padding: 4px;
	border: 1px solid #CCC;
	background-color: #F8F8F8;
	margin: 8px;
	cursor: pointer;
	font-family: Verdana;
	font-size: 9pt;
}

.fieldError {
	font-size: 8pt;
	border: 1px solid red;
	background-color: #FFF3F3;
	color: #C00;
	margin: 2px;
	padding: 2px;
}

input.locked {
  background:white;
  color:blue;
  border: 1px solid blue;
  cursor: default;
}

tr.bordertop td {
	border-top: 1px solid #DADADA;
}

tr.borderbottom td {
	border-bottom: 1px solid #DADADA;
}

.textsmaller {
	font-size: 8pt;
}

.breaker {
	clear: both;
	height: 0px;	
}

.uploadMessage {
	font-size: 8pt;
	font-style: italic;
	margin-top: 6px;
}

.uploaderror {
	font-weight: bold;
	color: #CC0000;	
}

.uploadwindow {
	width:40%; text-align: center; margin: auto; padding: 8px; background-color: #EEE; border: 1px solid #DDD
}

.uploadfieldtable {
	margin: 32px;
}

.datalabel {
	font-weight: bold;
}