










P.MsoAutoSig {MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoBodyTextIndent2 {LINE-HEIGHT: 200%;  MARGIN: 0pt 0pt 6pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }


P.MsoTof {MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

P.MsoToc7 {MARGIN: 0pt 0pt 5pt 60pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

P.MsoIndex5 {FONT-STYLE: italic;  TEXT-INDENT: -10.1pt;  MARGIN: 18pt 0pt 12pt 10.1pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

H5 {PAGE-BREAK-AFTER: avoid;  MARGIN: 18pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: black;  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 0pt; }

P.MsoNormal {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HPopupText {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  DISPLAY: none;  BACKGROUND: #ccffff;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

SPAN.C1HTopicProperties {DISPLAY: none;  COLOR: purple; }

P.C1HBullet2A {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 9pt 216pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt list 216.0pt; }

P.ListTable {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.TableBullet {TEXT-INDENT: -12pt;  MARGIN: 4pt 0pt 4pt 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 0pt; }






P.MsoQuote {FONT-STYLE: italic;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: black;  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListParagraph {MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }








P.MsoBlockText {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 0pt 57.6pt 9pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Calibri","sans-serif";  COLOR: #4f81bd;  FONT-SIZE: 10pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoBodyTextIndent3 {MARGIN: 0pt 0pt 6pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 8pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }


P.MsoCommentText {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoNormalIndent {MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoToc8 {MARGIN: 0pt 0pt 5pt 70pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

P.MsoIndex6 {TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 0pt 60pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

H6 {MARGIN: 0pt 0pt 36pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 24pt;  FONT-WEIGHT: bold;  tab-stops: 0pt; }

P.C1SectionEnd {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HInlineDropdown {COLOR: teal;  TEXT-DECORATION: underline;  text-underline: single; }

SPAN.C1HLinkTag {COLOR: #3366ff; }

SPAN.InvisibleChap-Appx {COLOR: white; }










SPAN.MsoHyperlinkFollowed {COLOR: purple;  TEXT-DECORATION: underline;  text-underline: single; }

P.MsoToc9 {MARGIN: 0pt 0pt 5pt 80pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

P.MsoIndex7 {TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 0pt 70pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

SPAN.C1HPopup {FONT-STYLE: italic;  COLOR: green; }

P.C1HBullet2 {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 9pt 216pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt list 216.0pt; }

P.SuperTitle {BORDER-BOTTOM: medium none;  TEXT-ALIGN: center;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 48pt 0pt 0pt 72pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 14pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 0pt; }

SPAN.Bold {FONT-WEIGHT: bold; }










ADDRESS {FONT-STYLE: italic;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListContinue {MARGIN: 0pt 0pt 6pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt; }

P.MsoToaHeading {MARGIN: 6pt 0pt 9pt;  FONT-FAMILY: "Cambria","serif";  FONT-SIZE: 12pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoFooter {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 18pt 0pt 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: right 432.0pt; }

P.MsoIndex8 {TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 0pt 80pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

SPAN.TableCodeText {FONT-FAMILY: "Courier New"; }

SPAN.C1HConditional {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  BACKGROUND: #d9d9d9;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

P.C1HContinue {MARGIN: 5.75pt 0pt 9pt 198pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.SourceTop {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 5.75pt 0pt 9pt 144pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 8pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt 324.0pt 342.0pt 360.0pt 378.0pt 396.0pt 414.0pt; }

P.FiguresTable {MARGIN: 7pt 0pt 3pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt 180.0pt 198.0pt; }

P.Note {TEXT-INDENT: -36pt;  MARGIN: 18pt 36pt 18pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: black;  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }









P.MsoClosing {MARGIN: 0pt 0pt 0pt 216pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoCaption {FONT-STYLE: italic;  MARGIN: 3pt 0pt 8pt 144pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: -126.0pt -108.0pt -90.0pt -72.0pt -54.0pt -36.0pt 36.0pt 54.0pt; }

P.MsoIndex9 {TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 0pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

P.MsoHeading7 {PAGE-BREAK-AFTER: avoid;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 18pt;  FONT-WEIGHT: bold;  tab-stops: 0pt; }

P.GlossaryHeading {PAGE-BREAK-AFTER: avoid;  MARGIN: 17pt 0pt 9pt 144pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.C1HNumber {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 9pt 198pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt list 198.0pt; }

P.TableHeading0 {MARGIN: 3pt 3.6pt 3pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.BodyTable {MARGIN: 5.75pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.Definition {MARGIN: 5.75pt 0pt 9pt 144pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.Normal {MARGIN: 9pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }










P.MsoBodyText2 {LINE-HEIGHT: 200%;  MARGIN: 0pt 0pt 6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListBullet {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt 90.0pt 108.0pt; }

P.MsoHeading8 {PAGE-BREAK-AFTER: avoid;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 0pt; }

P.C1SectionExpanded {PAGE-BREAK-AFTER: avoid;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  tab-stops: 0pt; }

SPAN.C1HVariable {FONT-STYLE: italic;  COLOR: #993300; }

P.HeaderBase {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.Figures {MARGIN: 7pt 0pt 3pt 144pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt 180.0pt 198.0pt; }

P.CodeExplained {MARGIN: 5.75pt 0pt 2pt 162pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.HeadingBase {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MidTopicMarker {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: 0.7pt;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: white;  FONT-SIZE: 1pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }










P.MsoBodyText3 {MARGIN: 0pt 0pt 6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 8pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }


P.MsoHeader {MARGIN: 0pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  tab-stops: center 234.0pt right 468.0pt; }

P.MsoHeading9 {PAGE-BREAK-AFTER: avoid;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  tab-stops: 0pt; }

P.GlossaryHeadingnoautolinks {PAGE-BREAK-AFTER: avoid;  MARGIN: 17pt 0pt 9pt 144pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #993300;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HKeywordLink {COLOR: olive;  TEXT-DECORATION: underline;  text-underline: single; }

P.MidTopic {PAGE-BREAK-AFTER: avoid;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 0pt; }

P.C1HNumber2 {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 9pt 216pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt list 216.0pt; }

SPAN.C1HGroupInvisible {FONT-STYLE: italic;  DISPLAY: none;  COLOR: olive; }

P.MarginNote {FONT-STYLE: italic;  MARGIN: 6.1pt 21.6pt 9pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HGroup {FONT-STYLE: italic;  COLOR: olive; }

P.IndexBase {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.InvisiblePDF {DISPLAY: none; }

P.Appendix {TEXT-ALIGN: right;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 18pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }









P.MsoCommentSubject {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }




P.MsoListContinue2 {MARGIN: 0pt 0pt 6pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoSignature {MARGIN: 0pt 0pt 0pt 216pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HInlineExpand {COLOR: teal; }

P.TableText0 {MARGIN: 2pt 3.6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.List2Table {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.BodyTextTable {MARGIN: 5.75pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.inline-control-link {}

P.Comment {MARGIN: 0pt 0pt 9pt;  DISPLAY: none;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: red;  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.CodeText {FONT-FAMILY: "Courier New"; }











P.MsoPlainText {MARGIN: 0pt;  FONT-FAMILY: "Consolas","serif";  FONT-SIZE: 10.5pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }


P.MsoSubtitle {FONT-STYLE: italic;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Cambria","serif";  LETTER-SPACING: 0.75pt;  COLOR: #4f81bd;  FONT-SIZE: 12pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoMessageHeader {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  TEXT-INDENT: -54pt;  MARGIN: 0pt 0pt 0pt 54pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Cambria","serif";  BACKGROUND: #cccccc;  FONT-SIZE: 12pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListContinue3 {MARGIN: 0pt 0pt 6pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListBullet2 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt 90.0pt 108.0pt; }

P.MsoEndnoteText {MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoEnvelopeAddress {MARGIN: 0pt 0pt 0pt 144pt;  FONT-FAMILY: "Cambria","serif";  FONT-SIZE: 12pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HExpandText {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  DISPLAY: none;  BACKGROUND: #ccffff;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

SPAN.C1HIndex {COLOR: olive; }

P.RelatedHead {MARGIN: 6pt 0pt 3pt 144pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: fuchsia;  FONT-SIZE: 12pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.footerodd {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 18pt 0pt 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: right 432.0pt; }

P.ByLine {TEXT-ALIGN: center;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 14pt;  tab-stops: 0pt; }

P.ListNumStart {PAGE-BREAK-AFTER: avoid;  TEXT-INDENT: 0pt;  MARGIN: 12pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 0pt; }

P.TableHeading {PAGE-BREAK-AFTER: avoid;  MARGIN: 9pt 0pt 9.5pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 9pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }









SPAN.MsoHyperlink {COLOR: blue;  TEXT-DECORATION: underline;  text-underline: single; }

P.MsoListContinue4 {MARGIN: 0pt 0pt 6pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListBullet3 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoIndexHeading {PAGE-BREAK-AFTER: avoid;  MARGIN: 15.1pt 0pt 6.1pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.TableNumberStart {PAGE-BREAK-AFTER: avoid;  TEXT-INDENT: 0pt;  MARGIN: 6pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: black;  FONT-SIZE: 9pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.TableNumber {TEXT-INDENT: -12pt;  MARGIN: 4pt 0pt 4pt 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 0pt; }

SPAN.C1HIndexInvisible {DISPLAY: none;  COLOR: olive; }

P.Source {PAGE-BREAK-AFTER: avoid;  BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 0pt 0pt 9pt 144pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 8pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt 162.0pt 180.0pt 198.0pt 216.0pt 234.0pt 252.0pt 270.0pt 288.0pt 306.0pt 324.0pt 342.0pt 360.0pt 378.0pt 396.0pt 414.0pt; }

P.CodeBase {MARGIN: 5.75pt 0pt 9pt 144pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.xRef {COLOR: blue;  TEXT-DECORATION: underline;  text-underline: single; }

P.Spacer {MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.NormalIndent2 {MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }








P.MsoNoSpacing {MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }




P.MsoBodyTextFirstIndent {TEXT-INDENT: 10.5pt;  MARGIN: 0pt 0pt 6pt 144pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: -126.0pt -108.0pt -90.0pt -72.0pt -54.0pt -36.0pt; }

P.MsoListContinue5 {MARGIN: 0pt 0pt 6pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListBullet4 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt list 72.0pt left 90.0pt 108.0pt; }

SPAN.MsoCommentReference {}

P.MsoFootnoteText {MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HContextID {DISPLAY: none;  COLOR: fuchsia; }

SPAN.C1HLinkTagInvisible {DISPLAY: none;  COLOR: #3366ff; }

P.ListNumStartBlank {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: 1pt;  TEXT-INDENT: 0pt;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: white;  FONT-SIZE: 1pt;  tab-stops: 0pt; }










P.MsoListBullet5 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt list 90.0pt left 108.0pt; }

P.MsoEnvelopeReturn {MARGIN: 0pt;  FONT-FAMILY: "Cambria","serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoToc1 {MARGIN: 12pt 0pt 5pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: right dotted 432.0pt; }

SPAN.C1HGroupLink {FONT-STYLE: italic;  COLOR: olive;  TEXT-DECORATION: underline;  text-underline: single; }

P.TOCTitle {PAGE-BREAK-AFTER: avoid;  MARGIN: 48pt 0pt 24pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 30pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.InvisibleOnline {}

P.TableText {MARGIN: 6pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }










P.MsoDocumentMap {MARGIN: 0pt;  FONT-FAMILY: "Tahoma","sans-serif";  FONT-SIZE: 8pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoNoteHeading {MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoSalutation {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoTitle {TEXT-ALIGN: center;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 24pt;  tab-stops: 0pt; }

P.MsoListNumber2 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoList2 {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 9pt 216pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: -162.0pt -144.0pt -126.0pt -108.0pt -90.0pt -72.0pt 36.0pt; }

P.MsoToa {TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 0pt 10pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

P.MsoToc2 {MARGIN: 0pt 0pt 5pt 14.4pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: right dotted 432.0pt; }

SPAN.C1HDropdownText {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  DISPLAY: none;  BACKGROUND: #ccffff;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

SPAN.C1HOnline {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  BACKGROUND: #99ccff;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

P.C1HBullet {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 9pt 198pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt list 198.0pt; }

P.TableBorder {LINE-HEIGHT: 2pt;  MARGIN: 2pt 0pt 9pt 144pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.headereven {MARGIN: 0pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  tab-stops: center 234.0pt right 468.0pt; }

P.TableIndent {MARGIN: 4pt 0pt 4pt 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt;  tab-stops: 24.0pt 42.0pt 60.0pt 78.0pt 96.0pt 114.0pt; }

P.CodeLine {MARGIN: 0pt;  FONT-FAMILY: "Courier New";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.ChapterNumber {TEXT-ALIGN: right;  MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 18pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }









P.MsoBodyTextIndent {MARGIN: 0pt 0pt 6pt 158.15pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: -122.15pt -104.15pt -86.15pt -68.15pt -50.15pt -32.15pt; }

P.MsoListNumber3 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 36.0pt left 72.0pt 90.0pt 108.0pt; }

P.MsoList3 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoList {TEXT-INDENT: -18pt;  MARGIN: 5.75pt 0pt 9pt 198pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: -162.0pt -144.0pt -126.0pt -108.0pt -90.0pt -72.0pt 18.0pt; }

P.MsoMacroText {MARGIN: 0pt;  FONT-FAMILY: "Consolas","serif";  FONT-SIZE: 10pt;  tab-stops: 24.0pt 48.0pt 72.0pt 96.0pt 120.0pt 144.0pt 168.0pt 192.0pt 216.0pt; }

P.MsoToc3 {MARGIN: 0pt 0pt 5pt 28.8pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: right dotted 432.0pt; }

P.MsoIndex1 {TEXT-INDENT: -21.6pt;  MARGIN: 0pt 0pt 9pt 21.6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 6.4pt 24.4pt 42.4pt 60.4pt 78.4pt 96.4pt; }

H1 {MARGIN: 0pt 0pt 36pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 24pt;  FONT-WEIGHT: bold;  tab-stops: 0pt; }

P.C1SectionCollapsed {PAGE-BREAK-AFTER: avoid;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  tab-stops: 0pt; }

P.C1HPopupTopicText {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.C1HJump {COLOR: green; }

P.TOCBase {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.footereven {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  MARGIN: 18pt 0pt 0pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: right 432.0pt; }

SPAN.D2HNoGloss {}









PRE {MARGIN: 0pt;  FONT-FAMILY: "Consolas","serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoDate {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListNumber4 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt list 72.0pt left 90.0pt 108.0pt; }

P.MsoList4 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 72pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoListNumber {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.MsoFootnoteReference {VERTICAL-ALIGN: super; }

P.MsoToc4 {MARGIN: 0pt 0pt 5pt 30pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

P.MsoIndex2 {TEXT-INDENT: -14.4pt;  MARGIN: 0pt 0pt 9pt 21.6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 16.4pt 34.4pt 52.4pt 70.4pt 88.4pt 106.4pt; }

H2 {PAGE-BREAK-AFTER: avoid;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 18pt;  FONT-WEIGHT: bold;  tab-stops: 0pt; }

SPAN.C1HInlinePopup {FONT-STYLE: italic;  COLOR: teal;  TEXT-DECORATION: underline;  text-underline: single; }

SPAN.C1HManual {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  BACKGROUND: #ccffcc;  BORDER-TOP: medium none;  BORDER-RIGHT: medium none; }

P.WhatsThis {PAGE-BREAK-AFTER: avoid;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 0pt; }

P.C1HContinue2 {MARGIN: 5.75pt 0pt 9pt 216pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.Jump {MARGIN: 5.75pt 0pt 9pt 144pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: fuchsia;  FONT-SIZE: 10pt;  TEXT-DECORATION: underline;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt;  text-underline: double; }

P.HeadingSubNoTOC {PAGE-BREAK-AFTER: avoid;  MARGIN: 28pt 0pt 9pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

SPAN.Italic {FONT-STYLE: italic; }




P.MsoIntenseQuote {BORDER-BOTTOM: medium none;  BORDER-LEFT: medium none;  PADDING-BOTTOM: 0pt;  FONT-STYLE: italic;  MARGIN: 10pt 46.8pt 14pt;  PADDING-LEFT: 0pt;  PADDING-RIGHT: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: #4f81bd;  FONT-SIZE: 10pt;  BORDER-TOP: medium none;  FONT-WEIGHT: bold;  BORDER-RIGHT: medium none;  PADDING-TOP: 0pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }





P.MsoListNumber5 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt list 90.0pt left 108.0pt; }

P.MsoList5 {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 9pt 90pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoToc5 {MARGIN: 0pt 0pt 5pt 40pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

P.MsoIndex3 {TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 0pt 30pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

H3 {PAGE-BREAK-AFTER: avoid;  MARGIN: 28pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 0pt; }

SPAN.C1HContentsTitle {COLOR: #993300; }

P.headerodd {MARGIN: 0pt 0pt 18pt;  FONT-FAMILY: "Arial","sans-serif";  FONT-SIZE: 9pt;  tab-stops: center 234.0pt right 468.0pt; }

P.MsoBibliography {MARGIN: 0pt 0pt 9pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }











P.MsoBodyTextFirstIndent2 {TEXT-INDENT: 18pt;  MARGIN: 0pt 0pt 9pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoBodyText {MARGIN: 5.75pt 0pt 9pt 144pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: -126.0pt -108.0pt -90.0pt -72.0pt -54.0pt -36.0pt; }

P.MsoToc6 {MARGIN: 0pt 0pt 5pt 50pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

P.MsoIndex4 {TEXT-INDENT: -10pt;  MARGIN: 0pt 0pt 0pt 40pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 0pt; }

H4 {PAGE-BREAK-AFTER: avoid;  MARGIN: 22pt 0pt 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #1f497d;  FONT-SIZE: 12pt;  FONT-WEIGHT: normal;  tab-stops: 0pt; }

