P.GlossaryDefinitionHeading {PAGE-BREAK-AFTER: avoid;  FONT-VARIANT: small-caps;  MARGIN: 6pt 0pt 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 11pt;  FONT-WEIGHT: bold;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.GlossaryDefinitionText {MARGIN: 4pt 0pt 18pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: 18.0pt 36.0pt 54.0pt 72.0pt 90.0pt 108.0pt; }

P.MsoTocHeading {PAGE-BREAK-AFTER: avoid;  LINE-HEIGHT: 115%;  MARGIN: 24pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #365f91;  FONT-SIZE: 14pt;  FONT-WEIGHT: bold;  tab-stops: 36.0pt; }

