<style type="text/css">
	p	{ margin-top: 0; margin-bottom: 0;  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
	div p	{ margin-top: 0; margin-bottom: 0;  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
	body.itemlist	{ margin: 0px 2px 2px 2px; 
	                   background-color: #535353; 
	                   overflow:hidden;  padding:0px;}
	div.itemlist { margin: 0px; padding: 0px; background-color: #EBEBEB; 
		background-image: url();
		background-repeat: no-repeat; 
		overflow:auto; width:100%; height:100%;}	
	div.itemlistInside { margin: 4px; } 
	body.lookup	{ margin: 2px 2px 0px 2px; 
	                   background-color: #535353; 
	                   padding:0px;}
	table.lookup	{ margin: 0px; padding: 0px; BORDER-BOTTOM: #000000 1px solid; background-color: #EBEBEB; 
		background-image: url();
		background-repeat: no-repeat; 
    	width:100%; height:100%;}
    a {  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  none; color: Black; }
    .clsMouseOver {  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: normal; text-decoration:  underline; color: Black; }
    .clsCurrentTocItem {  font-family: Verdana; font-size: 8.25pt; font-style: normal; font-weight: bold; text-decoration:  none; color: Black; }
	.index	{ margin-left: 20px; text-indent:-0.21in; white-space:nowrap; }
    form.clsFrmHidden { margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; height:0px; display: none; visibility: hidden;}
    .clsLookFor { font-family: verdana; font-size: 11px; white-space:nowrap;}
</style>
